target/
!.mvn/wrapper/maven-wrapper.jar
.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

*.log*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### JMeter ###
**/jmeter.log

### NPM ###
node_modules/

*.properties
log4j2.xml
/logs/
/*/logs
/ignite/
/conf/
**/node_modules/
**/frontend/dist/

# Mac
**/.DS_Store
